form {
    text-align: center;
    margin-top: 10px;
  }
  form input {
    border-radius: 5px;
    border: 1px blueviolet solid;
    padding: 10px 30px;
    box-shadow: 0px 9px 9px gray;
    font-size: 16px;
  }
  form button {
    color: white;
    background-color: blueviolet;
    border: 1px blueviolet solid;
    border-radius: 5px;
    margin-left: 5px;
    padding: 10px 30px;
    font-size: 16px;
    box-shadow: 0px 9px 9px gray;
  }
  
  .App {
    font-family: "Poppins";
    max-width: 700px;
    background: linear-gradient(0deg, #fdfcfb 0%, #edc2fe 100%);
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 9px 9px gray;
    margin: 20px auto;
  }

  .Current .firstRow{
    text-align: center;
    color: blueviolet;
  }
  .secondRow{
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 25px;
  }
.CurrentTemp{
    font-size: 40px;
}
.degree{
    position: relative;
    top: -15px;
}